<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Convert to PDF</title>
</head>
<body>
<h1>Convert to PDF</h1>
<div class="console">
    <form action="/" class="fields" method="post" enctype="multipart/form-data">
        <label>
            File:
            <input name="upfile1" type="file" accept="image/x-png,image/jpeg">
        </label><br>
        <label>
            File:
            <input name="upfile2" type="file" accept="image/x-png,image/jpeg">
        </label><br>
        <label>
            File:
            <input name="upfile3" type="file" accept="image/x-png,image/jpeg">
        </label><br>
        <input type="submit">
    </form>
</div>
</body>
</html>